comment "Melina-specific configuration"

menuconfig MELINA
	bool "Melina Reborn Custom Options"
        depends on MACH_MSM8996_LUCYE
	default y

if MELINA

choice
        prompt "Compiler CPU Optimizations"
        default MELINA_OPTIMIZE_KYRO if 64BIT
        default MELINA_OPTIMIZE_CORTEX_A53 if !64BIT

config MELINA_OPTIMIZE_CORTEX_A53
        bool "Optimize for cortex-a53"
        help
          Compiles the kernel with -mcpu=cortex-a53 -mtune=cortex-a53

config MELINA_OPTIMIZE_CORTEX_A57
        bool "Optimize for cortex-a57"
        help
          Compiles the kernel with -mcpu=cortex-a57 -mtune=cortex-a57

config MELINA_OPTIMIZE_CORTEX_A72
        bool "Optimize for cortex-a72"
        help
          Compiles the kernel with -mcpu=cortex-a72 -mtune=cortex-a72

config MELINA_OPTIMIZE_CORTEX_A72_A53
        bool "Optimize for big.LITTLE cortex-a72.cortex-a53"
        depends on 64BIT
        help
	  Compiles the kernel with -mcpu=cortex-a72.cortex-a53 -mtune=cortex-a72.cortex-a53

config MELINA_OPTIMIZE_KYRO
        bool "Optimize for Kyro with -mcpu=kyro -mtune=kyro"
        depends on 64BIT
        help
	  Compiles the kernel with -mcpu=kyro -mtune=kyro


endchoice

config MELINA_DEBUG_ENABLE
	bool "Enable Full LGE Kernel Debug Info"
	depends on !MELINA_ENHANCED_DEBUG
	default y
	select EMBEDDED
	select EXPERT
	select GENERIC_TRACER
	select EVENT_TRACING
	select DEBUG
	select DEBUG_INFO
	select DEBUG_KERNEL
	select MSM_RTB
	select INPUT_EVBUG
	help
	  Select this to have a fully verbose kernel, like LGE's stock.
	  Selecting this turns on full kernel debug support, and will trigger a warning when booting Android.
	  Select "Enhanced Debug Removal" to disable debug support, and remove the warning, but at the cost
	  of making it more difficult to debug.

	  This option will cause a warning from Android boot regarding a DEBUG kernel and "trace_printk".
	  The warning is harmless, but this may slightly reduce performance.
	  However, it will make it easier to diagnose any problems.

	  If unsure, say Y here while developing, then say N here when making a public release.

menuconfig MELINA_ENHANCED_NDBG
	bool "Enhanced Debug Removal"
	depends on MELINA && !MELINA_DEBUG_ENABLE
        default n
	help
	  These options significantly reduce the amount of debug information processed and displayed by
	  the Qualcomm, Broadcom and LGE drivers, slightly improving performance.

	  Under this menu, you can enable and disable specific device driver debug.

	  This option is required to remove the "trace_printk" warning on Android boot.
	  This may slightly increase performance, but will make it harder to diagnose any problems.

	  If unsure, say N here while developing, then say Y here when making a public release.

if MELINA_ENHANCED_NDBG

config MELINA_QUIET_DHD
        bool "Silence DHD Wifi/BT Debug Info"
        default y
        depends on BCMDHD
        help
          Silences information from the DHD Wifi/BT driver, which is only useful for debugging.

config MELINA_QUIET_MSMVIDEO
        bool "Silence MSM Video Debug Info"
        default y
        depends on PCI_MSM
        help
          Silences information from the graphics driver, which is only useful for debugging.

config MELINA_QUIET_MSMPCI
        bool "Silence MSM PCI Bus Debug Info"
        default y
        depends on FB_MSM_MDSS || FB_MSM_MDP
        help
          Silences information from the MSM PCI Bus driver, which is only useful for debugging.

config MELINA_QUIET_POWER
        bool "Silence Power (SMB138x Charger & LGE Battery) Debug Info"
        default y
        depends on QPNP_SMBCHARGER
        help
          Silences information from the charging driver curcuit, which is only useful for debugging.


endif # MELINA_ENHANCED_NDBG

config DRIVEDROID_CDROM
        boolean "DriveDroid CD-ROM Mass Storage Emulation"
        depends on !LGE_USB_G_AUTORUN
        depends on USB_G_ANDROID
        default y
        help
          Allows you to mount CD-ROM ISO images with DriveDroid.
          Without this, the image will try to mount as a USB Disk (flash drive).

config MELINA_PERFORMANCE_TWEAKS
	boolean "Enable Melina Kernel Performance Tweaks"
	select CPU_INPUT_BOOST
	select TCP_CONG_WESTWOOD
	default y
	help
	  This is just a helper variable that enables the following:
	  CPU_INPUT_BOOST and TCP_CONG_WESTWOOD


config MELINA_WARN_AS_ERR
	bool "Treat compile warnings as errors (-Werror)"
	depends on MELINA
        default y
	help
	  Disabling this option will allow the kernel to compile with warnings, but is not advised.

	  If unsure, say y here.

endif
