config ZRAM
	tristate "Compressed RAM block device support"
	depends on BLOCK && SYSFS && ZSMALLOC && CRYPTO
	select CRYPTO_LZO
	default n
	help
	  Creates virtual block devices called /dev/zramX (X = 0, 1, ...).
	  Pages written to these disks are compressed and stored in memory
	  itself. These disks allow very fast I/O and compression provides
	  good amounts of memory savings.

	  It has several use cases, for example: /tmp storage, use as swap
	  disks and maybe many more.

	  See zram.txt for more information.

config ZRAM_NON_SWAP
	bool "Enable zram non_swap support"
	depends on ZRAM
	select NON_SWAP
	default n
	help
	  This option add a interface "non_swap" to zram. User can set
	  a unsigned int value to zram.
	  If a page that compressed size is bigger than limit. mark it ad
	  non-swap. Then this page will add to unevictable lru list.
